RSI_Indi_RSI_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
RSI_Indi_RSI_MA_Method={{ ma_method | default(0) }}
RSI_Indi_RSI_Period,1=4
RSI_Indi_RSI_Period,2=4
RSI_Indi_RSI_Period,3=24
RSI_Indi_RSI_Period,F=1
RSI_Indi_RSI_Period={{ (period | default(0) | int) }}
RSI_Indi_RSI_Shift={{ shift | default(0) }}
RSI_LotSize={{ lot_size | default(0) }}
RSI_PriceStopMethod=0
RSI_SignalOpenFilterMethod=1
RSI_SignalOpenLevel={{ signal_open_level | replace("(float)", "") | float | default(0) }}
RSI_TickFilterMethod=1
