RSI_Indi_RSI_Applied_Price,1=0
RSI_Indi_RSI_Applied_Price,2=0
RSI_Indi_RSI_Applied_Price,3=6
RSI_Indi_RSI_Applied_Price,F=1
RSI_Indi_RSI_Applied_Price={{ applied_price | replace("(ENUM_APPLIED_PRICE)", "") | int | default(0) }}
RSI_Indi_RSI_Period={{ (period | default(0) | int) }}
RSI_Indi_RSI_Shift={{ (shift | default(0) | int) }}
RSI_LotSize={{ lot_size | default(0) }}
RSI_PriceStopMethod=0
RSI_SignalCloseLevel={{ (signal_close_level | default(0) | replace("(float)", "") | float) }}
RSI_SignalOpenFilterMethod=1
RSI_SignalOpenLevel={{ signal_open_level | default(0) | float }}
RSI_TickFilterMethod=1
